<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

<link rel="stylesheet" href="./stylesheet.css">


<%= @year %>年<%= @month %>月
<a href="/<%= @y1 %>/<%= @m1 %>">先月</a>
<a href="/">今月</a>
<a href="/<%= @y2 %>/<%= @m2 %>">来月</a>
<p>
<%= @t %>

<div class="wrapper">
  <form action="/push" method="post" accept-charset="utf-8">
    <div>
      <input type="text" autocomplete="off" id="year" size="5" name="input_year">
      <label for="name">年</label>
    </div>
    <div>
      <input type="text" autocomplete="off" id="month" size="3" name="input_month">
      <label for="name">月</label>
    </div>
    <input type="submit" class="button" value="push">
  </form>
</div>
